# /*****************************************************************************************************************/

#// @author         Michael Roberts <michael@observerly.com>
#// @package        @observerly/typescript-vite-template
#// @license        Copyright © 2021-2023 observerly

#/*****************************************************************************************************************/

registry=https://registry.npmjs.org/
@observerly:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}

#/*****************************************************************************************************************/